@model PierresTreats.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)

  @Html.Label("Add flavors")

  <input type="submit" value="ADD" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>